{% extends "home.html" %}
{% load static %}

{% block title %}
    <title>History | Purulia </title> 
{% endblock %}

{% block body_block %}

<section class="jumbotron text-center">
	<div class="container">
		<h1>History of Purulia</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</section>  

<div class="container" align="center">
	<img src="{% static 'images/history/purulia.jpg' %}">
</div>

<div class="container">
    <h3><ul>History</ul></h3>
    <p>The territory of present Purulia district was a part of Banga, one of the 16 Mahajanapadas according to 
        Jaina Bhagavati Sutra (c. 5th century CE) and was also a part of the country known as Vajra-bhumi in 
        ancient period.[2][3][4] During medieval period, this territory was regarded as part of Jharkhand 
        region. Little is known about Purulia before the British East India Company acquired this territory 
        by obtaining the grant of Diwani of the subahs of Bengal, Bihar, Odisha in 1765.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

{% endblock body_block %}